@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,20..1000;1,6..12,20..1000&display=swap');
@import "tailwindcss";

/*
*
*       IMPORT CSS FROM NEW-LOADER-2 TO NEXT.JS PROJECT
*
*/

* { box-sizing: border-box; }

:root {
    --body: rgb(var(--md-color-surface));
    --font-size-code: .875rem;
    --editor-line-height: 24px;
    --editor-titlebar: rgb(var(--md-color-secondary-container));

    --normal: rgb(var(--md-color-on-surface));
    --variant: rgb(var(--md-color-on-surface-variant));
    --macro-brackets: rgb(var(--md-color-on-surface));
    --macro-arg-separator: rgb(var(--md-color-on-surface-variant));
    --macro-name: rgb(var(--md-color-syntax-name));
    --macro-value: rgb(var(--md-color-syntax-value));

    --escape: rgb(var(--md-color-outline));
    --macro-value-escape: rgb(var(--md-color-syntax-escaped));
    --macro-empty: rgb(var(--md-color-outline));

    --macro-custom-argument: rgb(var(--md-color-tertiary));
    --macro-custom-executor-mode: rgb(var(--md-color-primary));
    --macro-custom-argument-count: rgb(var(--md-color-on-tertiary-container));

    --editor-body: rgb(var(--md-color-surface-container));
    --editor-outline: rgb(var(--md-color-outline-variant));
    --editor-outline-selected: rgb(var(--md-color-primary));
    --editor-gutter-fg: rgb(var(--md-color-on-surface-variant));
    --editor-gutter-fg-active: rgb(var(--md-color-on-surface));
    --editor-current-line: rgb(var(--md-color-surface-container-highest));

    --macro-bracket-layer-0: rgb(var(--md-color-syntax-bracket-layer0));
    --macro-bracket-layer-1: rgb(var(--md-color-syntax-bracket-layer1));
    --macro-bracket-layer-2: rgb(var(--md-color-syntax-bracket-layer2));
    --error: rgb(var(--md-color-error));
    --success: rgb(var(--md-color-success));

    --selection: rgb(var(--md-color-primary), .16);
    --label: rgb(var(--md-color-on-surface-variant));
    --description: rgb(var(--md-color-on-surface-variant));

    --bracket-outline: rgb(var(--md-color-on-tertiary-container), .32);

    --flag-name: rgb(var(--md-color-render-flag-name));
    --flag-value: rgb(var(--md-color-render-flag-value));

    --variant-name: rgb(var(--md-color-render-variant-name));
    --variant-value: rgb(var(--md-color-render-variant-value));

    --surface-hovered: rgb(var(--md-color-on-surface), .08);
    --surface-pressed: rgb(var(--md-color-on-surface), .1);
    --sb-button-selected: rgb(var(--md-color-secondary-container));

    --elevation-0: 0 0 0 0 #00000026, 0 0 0 0 #0000004d;
	--elevation-1: 0 1px 3px 1px #00000026, 0 1px 2px 0 #0000004d;
	--elevation-2: 0 2px 6px 2px #00000026, 0 1px 2px 0 #0000004d;
	--elevation-3: 0 4px 8px 3px #00000026, 0 1px 3px 0 #0000004d;
	--elevation-4: 0 6px 10px 4px #00000026, 0 2px 3px 0 #0000004d;
	--elevation-5: 0 8px 12px 6px #00000026, 0 4px 4px 0 #0000004d;

	--inset-elevation-0: 0 0 0 0 #00000026, 0 0 0 0 #0000004d;
	--inset-elevation-1:
		inset 0 1px 3px 1px #00000026, inset 0 1px 2px 0 #0000004d;
	--inset-elevation-2:
		inset 0 2px 6px 2px #00000026, inset 0 1px 2px 0 #0000004d;
	--inset-elevation-3:
		inset 0 4px 8px 3px #00000026, inset 0 1px 3px 0 #0000004d;
	--inset-elevation-4:
		inset 0 6px 10px 4px #00000026, inset 0 2px 3px 0 #0000004d;
	--inset-elevation-5:
		inset 0 8px 12px 6px #00000026, inset 0 4px 4px 0 #0000004d;

    --f-elevation-0: drop-shadow(0 0 0 #00000026) drop-shadow(0 0 0 #0000004d);
	--f-elevation-1: drop-shadow(0 1px 3px #00000026) drop-shadow(0 1px 2px #0000004d);
	--f-elevation-2: drop-shadow(0 2px 6px #00000026) drop-shadow(0 1px 2px #0000004d);
	--f-elevation-3: drop-shadow(0 4px 8px #00000026) drop-shadow(0 1px 3px #0000004d);
	--f-elevation-4: drop-shadow(0 6px 10px #00000026) drop-shadow(0 2px 3px #0000004d);
	--f-elevation-5: drop-shadow(0 8px 12px #00000026) drop-shadow(0 4px 4px #0000004d);

    --t-elevation-0: 0 0 0 #00000026, 0 0 0 #0000004d;
	--t-elevation-1: 0 1px 3px #00000026, 0 1px 2px #0000004d;
	--t-elevation-2: 0 2px 6px #00000026, 0 1px 2px #0000004d;
	--t-elevation-3: 0 4px 8px #00000026, 0 1px 3px #0000004d;
	--t-elevation-4: 0 6px 10px #00000026, 0 2px 3px #0000004d;
	--t-elevation-5: 0 8px 12px #00000026, 0 4px 4px #0000004d;
}

@theme inline {
  --color-background: var(--body);
  --color-foreground: var(--normal);
  --font-sans: var(--font-family-sans);
  --font-mono: var(--font-family-code);
}

@font-face {
  font-family: 'ricwd-icons';
  font-style: normal;
  src: url(/ricwd-icons.woff2) format('woff2');
}

ol {
    list-style: decimal;
    padding-left: 1em;
    margin: 0.5em;
    height: auto;
}

ul {
    list-style: disc;
    padding-left: 1em;
    margin: 0.5em;
    height: auto;
}

/*
    discord markdown
*/

.discord-inline-code {
    word-wrap: break-word;
    white-space: break-spaces;
    overflow-wrap: anywhere;

    border: 1px solid rgb(var(--md-color-outline-variant));
    padding: 1px 6px;
    border-radius: 4px;
    margin: 0 2px;

    font-size: var(--font-size-code);

    background: rgb(var(--md-color-surface-container));
}
.discord-code-block {
    display: inline-block;
    word-wrap: break-word;
    white-space: break-spaces;
    overflow-wrap: anywhere;

    outline: 1px solid rgb(var(--md-color-outline-variant));
    padding: 8px 12px;
    border-radius: 4px;
    margin: 4px;

    font-size: var(--font-size-code);

    background: rgb(var(--md-color-surface-container));
}
.discord-subtext {
    color: rgb(var(--md-color-outline));
    font-size: 0.825em;
    margin: 0.6em 0 !important;
}

/*
    scroll bars (webkit)
*/

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: rgb(var(--md-color-outline));
	border: 4px solid transparent;
	background-clip: content-box !important;
}
::-webkit-scrollbar-thumb:hover {
	background: rgb(var(--md-color-on-surface));
}
.inset-scrollbar::-webkit-scrollbar-button {
    width: var(--scrollbar-inset-size, 8px);
    height: var(--scrollbar-inset-size, 8px);
}

::selection,
.selection {
    background: var(--selection);
}

.selection {
    display: inline-block;
}

::placeholder {
    color: var(--variant);
}

body {
    box-sizing: border-box;
    margin: 0;
    background: var(--body);
    overflow: hidden;
    font-family: var(--font-family-sans);
    color: var(--normal);
    caret-color: rgb(var(--md-color-primary));
}

.main-body {
    display: flex;
    flex-direction: column;
    height: calc(100% - 24px);
    gap: 8px;
    margin: 12px;

    position: relative;
}

.align-layout {
    flex: 100%;
    display: grid;
    grid-template-areas: 'nav main details';
    grid-auto-columns: auto 1fr auto;
}
.align-layout:has(.nav-btn.selected[aria-label="Search"]) {
    grid-template-areas: 'nav filters main details';
    grid-auto-columns: auto auto 1fr auto;
}
.align-layout > main {
    grid-area: main;
}

.text-label {
    color: var(--label);
}

.icon {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    font-feature-settings: "liga";
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    font-variation-settings: 'FILL' var(--icon-FILL, 0);
    transition: all 200ms cubic-bezier(0.2, 0.0, 0, 1.0);
}
.icon.custom {
    font-family: ricwd-icons;
}

hr {
    border-top: 1px solid var(--editor-outline);
}

.hidden {
    display: none !important;
}

@property --fade-top {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0px;
}
@property --fade-bottom {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0px;
}
@property --fade-left {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0px;
}
@property --fade-right {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0px;
}
.can-overflow {
    mask-image:
        linear-gradient(
            to bottom,
            transparent calc(var(--fade-top) / 6), 
            black var(--fade-top)
        ),
        linear-gradient(
            to top,
            transparent calc(var(--fade-bottom) / 6), 
            black var(--fade-bottom)
        ),
        linear-gradient(
            to right,
            transparent calc(var(--fade-left) / 6), 
            black var(--fade-left)
        ),
        linear-gradient(
            to left,
            transparent calc(var(--fade-right) / 6), 
            black var(--fade-right)
        );
    mask-composite: intersect;
    transition:
        --fade-top 200ms var(--fade-top-easing, cubic-bezier(0.3, 0, 1, 1)),
        --fade-bottom 200ms var(--fade-bottom-easing, cubic-bezier(0.3, 0, 1, 1)),
        --fade-left 200ms var(--fade-left-easing, cubic-bezier(0.3, 0, 1, 1)),
        --fade-right 200ms var(--fade-right-easing, cubic-bezier(0.3, 0, 1, 1));
}
.overflow-top {
    --fade-top: 3em;
    --fade-top-easing: cubic-bezier(0, 0, 0, 1);
}
.overflow-bottom {
    --fade-bottom: 3em;
    --fade-bottom-easing: cubic-bezier(0, 0, 0, 1);
}
.overflow-left {
    --fade-left: 3em;
    --fade-left-easing: cubic-bezier(0, 0, 0, 1);
}
.overflow-right {
    --fade-right: 3em;
    --fade-right-easing: cubic-bezier(0, 0, 0, 1);
}

/*
    button styles
*/

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    transition: border-radius 350ms cubic-bezier(.42, 1.67, .21, .90), 
                width 400ms cubic-bezier(.2, .0, 0, 1.0), 
                margin 400ms cubic-bezier(.2, .0, 0, 1.0), 
                color 150ms cubic-bezier(.31, .94, .34, 1.00), 
                background 150ms cubic-bezier(.31, .94, .34, 1.00);
}
.btn > :nth-child(1 of :not(.hidden)),
.btn > :nth-last-child(1 of :not(.hidden)) {
    transition: margin 350ms cubic-bezier(.42, 1.67, .21, .90), font-variation-settings 200ms cubic-bezier(.2,0,0,1);
}
.ibtn, .full-width-btn {
    justify-content: center;
    width: stretch;
}
.btn.hidden {
    width: 0;
    margin-right: 0;
}
.btn > input[type="checkbox"]:checked ~ :nth-child(1 of .btn-label):has(~ .btn-label),
.btn > input[type="checkbox"]:not(:checked) ~ :nth-child(2 of .btn-label),
.btn > input[type="checkbox"]:checked ~ :nth-child(1 of .icon):has(~ .icon),
.btn > input[type="checkbox"]:not(:checked) ~ :nth-child(2 of .icon) {
    display: none;
}
.btn > .icon {
    --icon-FILL: 1;
}
.btn:has(input[type="checkbox"]:not(:checked)) > .icon {
    --icon-FILL: 0;
}

.btn.xsmall {
    gap: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 12px;
    border-radius: 16px;
}
.btn.xsmall .icon {
    font-size: 20px;
    --icon-opsz: 20;
}
.ibtn.xsmall {
    width: 32px;
    height: 32px;
}
.ibtn.xsmall.narrow {
    width: 28px;
}
.ibtn.xsmall.wide {
    width: 40px;
}
.btn.xsmall:active {
    border-radius: 8px !important;
}
.btn.xsmall.square, .btn.xsmall:has(input[type="checkbox"]:checked) {
    border-radius: 12px;
}
.btn.xsmall.square:has(input[type="checkbox"]:checked) {
    border-radius: 16px;
}
.btn.small {
    gap: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 10px 16px;
    border-radius: 20px;
}
.btn.small .icon {
    font-size: 20px;
    --icon-opsz: 20;
}
.ibtn.small {
    width: 40px;
    height: 40px;
}
.ibtn.small .icon {
    font-size: 24px;
    --icon-opsz: 24;
}
.ibtn.small.narrow {
    width: 32px;
}
.ibtn.small.wide {
    width: 52px;
}
.btn.small:active {
    border-radius: 8px !important;
}
.btn.small.square, .btn.small:has(input[type="checkbox"]:checked) {
    border-radius: 12px;
}
.btn.small.square:has(input[type="checkbox"]:checked) {
    border-radius: 20px;
}
.btn.medium {
    gap: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 16px 24px;
    border-radius: 28px;
}
.ibtn.medium {
    width: 56px;
    height: 56px;
}
.ibtn.medium.narrow {
    width: 48px;
}
.ibtn.medium.wide {
    width: 72px;
}
.btn.medium:active {
    border-radius: 12px !important;
}
.btn.medium.square, .btn.medium:has(input[type="checkbox"]:checked) {
    border-radius: 16px;
}
.btn.medium.square:has(input[type="checkbox"]:checked) {
    border-radius: 28px;
}
.btn.large {
    gap: 12px;
    font-size: 24px;
    line-height: 32px;
    padding: 32px 48px;
    border-radius: 48px;
}
.btn.large .icon {
    font-size: 32px;
    --icon-opsz: 32;
}
.ibtn.large {
    width: 96px;
    height: 96px;
}
.ibtn.large.narrow {
    width: 64px;
}
.ibtn.large.wide {
    width: 128px;
}
.btn.large:active {
    border-radius: 16px !important;
}
.btn.large.square, .btn.large:has(input[type="checkbox"]:checked) {
    border-radius: 28px;
}
.btn.large.square:has(input[type="checkbox"]:checked) {
    border-radius: 48px;
}
.btn.xlarge {
    gap: 16px;
    font-size: 32px;
    line-height: 40px;
    padding: 48px 64px;
    border-radius: 68px;
}
.btn.xlarge .icon {
    font-size: 40px;
    --icon-opsz: 40;
}
.ibtn.xlarge {
    width: 136px;
    height: 136px;
}
.ibtn.xlarge.narrow {
    width: 104px;
}
.ibtn.xlarge.wide {
    width: 184px;
}
.btn.xlarge:active {
    border-radius: 16px !important;
}
.btn.xlarge.square, .btn.large:has(input[type="checkbox"]:checked) {
    border-radius: 28px;
}
.btn.xlarge.square:has(input[type="checkbox"]:checked) {
    border-radius: 68px;
}

.btn-filled {
    color: rgb(var(--md-color-on-primary));
    background: rgb(var(--md-color-primary));
}
.btn-filled:has(input[type="checkbox"]:not(:checked)) {
    color: rgb(var(--md-color-on-surface-variant));
    background: rgb(var(--md-color-surface-container));
}
.btn-tonal {
    color: rgb(var(--md-color-on-secondary-container));
    background: rgb(var(--md-color-secondary-container));
}
.btn-tonal:has(input[type="checkbox"]:checked) {
    color: rgb(var(--md-color-on-secondary));
    background: rgb(var(--md-color-secondary));
}
.btn-outline {
    margin: -1px;
    color: rgb(var(--md-color-on-surface-variant));
    border: 1px solid rgb(var(--md-color-outline-variant));
}
.btn-outline:has(input[type="checkbox"]:checked) {
    color: rgb(var(--md-color-inverse-on-surface));
    background: rgb(var(--md-color-inverse-surface));
    border: 1px solid transparent;
}
.btn-text, .ibtn.btn-text:has(input[type="checkbox"]:checked),
.btn-text.selected .icon {
    color: rgb(var(--md-color-primary));
}
.btn-text:hover, .ibtn.btn-text:has(input[type="checkbox"]:checked):hover {
    background: rgb(var(--md-color-primary), .08);
}
.btn-text:active, .ibtn.btn-text:has(input[type="checkbox"]:checked):active {
    background: rgb(var(--md-color-primary), .1);
}
.btn-text:has(input[type="checkbox"]:not(:checked)), .ibtn.btn-text {
    color: rgb(var(--md-color-on-surface-variant));
}
.btn-text:has(input[type="checkbox"]:not(:checked)):hover, .ibtn.btn-text:hover {
    background: rgb(var(--md-color-on-surface-variant), .08);
}
.btn-text:has(input[type="checkbox"]:not(:checked)):active, .ibtn.btn-text:active {
    background: rgb(var(--md-color-on-surface-variant), .1);
}

.cbtn-group {
    display: flex;
    gap: 2px;
    transition: width 400ms cubic-bezier(.2, .0, 0, 1.0);
}
.cbtn-group.xsmall {
    height: 32px;
}
.cbtn-group.small {
    height: 40px;
}
.cbtn-group.medium {
    height: 56px;
}
.cbtn-group.large {
    height: 96px;
}
.cbtn-group.xlarge {
    height: 136px;
}
.cbtn {
    width: stretch;
    height: stretch;
    text-align: center;
    align-content: center;
    color: rgb(var(--md-color-on-secondary-container));
    background: rgb(var(--md-color-secondary-container));
    transition: border-radius 350ms cubic-bezier(.42, 1.67, .21, .90),
                color 150ms cubic-bezier(.31, .94, .34, 1.00),
                background 150ms cubic-bezier(.31, .94, .34, 1.00);
}
.cbtn.cbtn.cbtn.cbtn:active {
    border-radius: 4px;
}
.cbtn.selected {
    color: rgb(var(--md-color-on-secondary));
    background: rgb(var(--md-color-secondary));
}
.cbtn-group.xsmall .cbtn {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 4px;
}
.cbtn-group.xsmall:not(.square) .cbtn.cbtn:first-child, .cbtn-group.xsmall .cbtn.selected {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.cbtn-group.xsmall:not(.square) .cbtn.cbtn:last-child, .cbtn-group.xsmall .cbtn.selected {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
.cbtn-group.small .cbtn {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 8px;
}
.cbtn-group.small:not(.square) .cbtn.cbtn:first-child, .cbtn-group.small .cbtn.selected {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.cbtn-group.small:not(.square) .cbtn.cbtn:last-child, .cbtn-group.small .cbtn.selected {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.cbtn-group.medium .cbtn {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 8px;
}
.cbtn-group.medium:not(.square) .cbtn.cbtn:first-child, .cbtn-group.medium .cbtn.selected {
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
}
.cbtn-group.medium:not(.square) .cbtn.cbtn:last-child, .cbtn-group.medium .cbtn.selected {
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
}
.cbtn-group.large .cbtn {
    font-size: 24px;
    line-height: 32px;
    border-radius: 16px;
}
.cbtn-group.large:not(.square) .cbtn.cbtn:first-child, .cbtn-group.large .cbtn.selected {
    border-top-left-radius: 48px;
    border-bottom-left-radius: 48px;
}
.cbtn-group.large:not(.square) .cbtn.cbtn:last-child, .cbtn-group.large .cbtn.selected {
    border-top-right-radius: 48px;
    border-bottom-right-radius: 48px;
}
.cbtn-group.xlarge .cbtn {
    font-size: 32px;
    line-height: 40px;
    border-radius: 20px;
}
.cbtn-group.xlarge:not(.square) .cbtn.cbtn:first-child, .cbtn-group.xlarge .cbtn.selected {
    border-top-left-radius: 68px;
    border-bottom-left-radius: 68px;
}
.cbtn-group.xlarge:not(.square) .cbtn.cbtn:last-child, .cbtn-group.xlarge .cbtn.selected {
    border-top-right-radius: 68px;
    border-bottom-right-radius: 68px;
}

/*
    text input
*/

.text-field {
    display: block;
    width: 100%;
    padding: 24px 16px 8px 16px;
    border-radius: 4px 4px 0 0;
    background: rgb(var(--md-color-surface-container-highest));
    box-shadow: inset 0 -2px 0 -1px rgb(var(--md-color-on-surface-variant));
    cursor: text;
    transition: box-shadow 200ms ease;
}
.text-field:has(> input[type="text"]:focus), .text-field:has(> textarea:focus) {
    box-shadow: inset 0 -4px 0 -1px rgb(var(--md-color-primary));
}
.text-field.small {
    padding: 6px 12px;
}

.text-field > input[type="text"], .text-field > textarea {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    background: none;
    border: none;
    outline: none;
}

.text-field-label {
    display: block;
    position: relative;
    top: -8px;
    font-size: 12px;
    line-height: 16px;
    margin: -8px 0;
    color: var(--variant);
    transition: all 200ms cubic-bezier(0.2, 0.0, 0, 1.0);
}
.text-field:not(.has-placeholder):has(> input[type="text"]:placeholder-shown:not(:focus)) > .text-field-label, .text-field:not(.has-placeholder):has(> textarea:placeholder-shown:not(:focus)) > .text-field-label {
    top: 4px;
    font-size: 16px;
    line-height: 24px;
    margin: -12px 0;
}
.text-field.small .text-field-label {
    display: none;
}

/*
    menus
*/

.menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    pointer-events: none;
    width: 230px;
    padding-block: 4px;
    border-radius: 16px;
    background: rgb(var(--md-color-surface-container-low));
    box-shadow: var(--elevation-3);
    transform: scale(.95);
    opacity: 0;
    z-index: 1;
    transition: all .2s, top, left;
}
.menu.menu.visible {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}
.menu.anchor-t,
.menu.anchor-tl,
.menu.anchor-tr,
.menu.anchor-st,
.menu.anchor-et {
    margin-block: 4px;
    transform: translateY(-4px) scale(.95);
}
.menu.anchor-b,
.menu.anchor-bl,
.menu.anchor-br,
.menu.anchor-sb,
.menu.anchor-eb {
    margin-block: 4px;
    transform: translateY(4px) scale(.95);
}
.menu.anchor-l,
.menu.anchor-s,
[dir=rtl] .menu.anchor-e {
    margin-inline: 4px;
    transform: translateX(-4px) scale(.95);
}
.menu.anchor-r,
.menu.anchor-e,
[dir=rtl] .menu.anchor-s {
    margin-inline: 4px;
    transform: translateX(4px) scale(.95);
}
.submenu-popout.anchor-l,
.submenu-popout.anchor-tl,
.submenu-popout.anchor-bl {
    left: 100%;
    margin: -4px 0;
}
.submenu-popout.anchor-r,
.submenu-popout.anchor-tr,
.submenu-popout.anchor-br {
    right: 100%;
    margin: -4px 0;
}
.submenu-popout.anchor-s,
.submenu-popout.anchor-st,
.submenu-popout.anchor-sb {
    inset-inline-start: 100%;
    margin: -4px 0;
}
.submenu-popout.anchor-e,
.submenu-popout.anchor-et,
.submenu-popout.anchor-eb {
    inset-inline-end: 100%;
    margin: -4px 0;
}

.menu-wrapper {
    position: relative;
    display: inline-block;
    width: fit-content;
}

.menu-option-wrapper {
    display: flex;
    flex-direction: column;
    padding-inline: 4px;
}

.menu-option-wrapper:has(:is(
    .submenu-popout.anchor-l,
    .submenu-popout.anchor-r,
    .submenu-popout.anchor-s,
    .submenu-popout.anchor-e
)) {
    justify-content: center;
}
.menu-option-wrapper:has(:is(
    .submenu-popout.anchor-tl,
    .submenu-popout.anchor-tr,
    .submenu-popout.anchor-st,
    .submenu-popout.anchor-et
)) {
    justify-content: flex-start;
}
.menu-option-wrapper:has(:is(
    .submenu-popout.anchor-bl,
    .submenu-popout.anchor-br,
    .submenu-popout.anchor-sb,
    .submenu-popout.anchor-eb
)) {
    justify-content: flex-end;
}

.menu-title {
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 32px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 4px 16px 0;
    color: rgb(var(--md-color-on-surface-variant));
}
.menu-option {
    display: flex;
    align-items: center;
    gap: 8px;
    -webkit-user-select: none;
    user-select: none;
    height: 44px;
    padding: 12px;
    border-radius: 4px;
}
.menu-option-wrapper:hover > .menu-option {
    cursor: pointer;
    background: var(--surface-hovered);
}
.menu-option-wrapper:active > .menu-option {
    background: var(--surface-pressed);
}
.menu-option-wrapper > .menu-option.selected {
    border-radius: 12px;
    color: rgb(var(--md-color-on-tertiary-container));
    background: rgb(var(--md-color-tertiary-container));
}
.menu-option-wrapper:first-child > .menu-option {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.menu-option-wrapper:last-child > .menu-option {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.menu-option-label {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.menu-option-desc {
    font-size: 12px;
    line-height: 16px;
    color: var(--description);
}

.menu-option > .icon {
    display: flex;
    align-items: center;
    text-align: center;
    min-width: 20px;
    font-size: 20px;
    color: var(--variant);
}
.menu-option.selected > .icon {
    color: rgb(var(--md-color-on-tertiary-container));
}
.menu-option-menu-icon {
    margin-inline-start: auto;
}

.menu:not(:has(:nth-child(1 of :not(.hidden))))::after {
    content: "No Available Options";
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
    padding: 12px;
    opacity: .38;
}

.text-field + .menu {
    width: 100%;
    margin: 0;
}

.execution-mode-select.execution-mode-select {
    display: block;
    box-sizing: border-box;
    width: stretch;
    min-width: 64px;
    height: 32px;
    padding-inline: 8px;
    border-radius: 8px;
    background: var(--editor-body);
    border: 1px solid var(--editor-outline);
    font-family: var(--font-family-code);
    font-size: var(--font-size-code);
    transition: .2s ease;
    font-weight: bold;
}
.execution-mode-select.clicked {
    background: var(--editor-current-line);
    transition: 0s ease;
}
.execution-mode-select-options .menu-option:not(.selected) .menu-option-icon {
    font-family: var(--font-family-code);
    font-size: var(--font-size-code);
}

/*
    tooltips ::after
*/

.has-tooltip::after {
    content: attr(data-frame-index);
    letter-spacing: .4px;
    white-space: nowrap;
    text-transform: capitalize;
    color: rgb(var(--md-color-inverse-on-surface));
    background: rgb(var(--md-color-inverse-surface));
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: .8em;
    line-height: 16px;
    transition: opacity .2s,transform .2s;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%) scale(.8);
}
.has-tooltip:hover::after {
    opacity: 1;
    transition: opacity .1s .2s,transform .2s;
    transform: translateY(-50%) scale(1) translate(8px);
}

/*
    anchor points
    t: top
    b: bottom
    l: left
    r: right
    s: start
    e: end
    c: center
*/

[class*="anchor-"] {
    transform-origin: var(--anchor-x, 50%) var(--anchor-y, 50%);
}

.anchor-b { bottom: 100%; }
.anchor-l { left: 100%; }
.anchor-r { right: 100%; }
.anchor-s { inset-inline-start: 100%; }
.anchor-e { inset-inline-end: 100%; }
.anchor-tl, .anchor-bl { left: 0; }
.anchor-tr, .anchor-br { right: 0; }
.anchor-et, .anchor-eb { inset-inline-end: 0; }
.anchor-bl, .anchor-br, .anchor-sb, .anchor-eb { bottom: 100%; }
.anchor-t, .anchor-b { justify-self: center; }
.anchor-l, .anchor-r, .anchor-s, .anchor-e { align-self: center; }

.anchor-l,
.anchor-tl,
.anchor-bl,
.anchor-s,
.anchor-st,
.anchor-sb,
[dir=rtl] :is(.anchor-e, .anchor-et, .anchor-eb) {
    --anchor-x: 0;
}
.anchor-r,
.anchor-tr,
.anchor-br,
.anchor-e,
.anchor-et,
.anchor-eb,
[dir=rtl] :is(.anchor-s, .anchor-st, .anchor-sb) {
    --anchor-x: 100%;
}
.anchor-t,
.anchor-tl,
.anchor-tr,
.anchor-st,
.anchor-et {
    --anchor-y: 0;
}
.anchor-b,
.anchor-bl,
.anchor-br,
.anchor-sb,
.anchor-eb {
    --anchor-y: 100%;
}

@supports (anchor-name: --a) {
    .menu {
        position: absolute;
        position-try-fallbacks: flip-block, flip-inline;
    }

    .anchor-t  { position-area: top center; }
    .anchor-b  { position-area: bottom center; }
    .anchor-l  { position-area: left center; }
    .anchor-r  { position-area: right center; }
    .anchor-tl { position-area: top left; }
    .anchor-tr { position-area: top right; }
    .anchor-bl { position-area: bottom left; }
    .anchor-br { position-area: bottom right; }
    .anchor-st { position-area: right top; }
    .anchor-sb { position-area: right bottom; }
    .anchor-et { position-area: left top; }
    .anchor-eb { position-area: left bottom; }
}

/*
    scrolling
*/

.scroll-x {
    overflow-x: scroll;
}
.scroll-y {
    overflow-y: scroll;
}
.ascroll-x {
    overflow-x: auto;
}
.ascroll-y {
    overflow-y: auto;
}

.emph {
    font-weight: bold;
    color: var(--success);
}

.kill-styling {
    all: unset
}

/*
    topbar
*/

.topbar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 56px;
    padding: 0 4px;
    gap: 4px;
    color: var(--normal);
    background: var(--editor-titlebar);
}

.title-name {
    display: flex;
    position: relative;
    top: 2px;
    font-size: 1.2rem;

    margin-left: 10px;

    color: rgb(var(--md-color-on-secondary-container));
    text-decoration: none;
}

.title-name #name-1,
.title-name #name-2 {
    transition: .2s ease;
}
.title-name:hover #name-1 {
    color: rgb(var(--md-color-on-primary-container));
}

/*
    sidebar
*/

.sb-left,
.sb-right {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: fit-content;
    height: calc(100vh - 56px);
    background: rgb(var(--md-color-surface-container));
    z-index: 92;
}
.sb-left {
    grid-area: nav;
    gap: 4px;
    padding: 4px;
}
.sb-right {
    grid-area: details;
    gap: 8px;
    padding: 4px;
}

.nav-btn {
    content: '';
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 28px;
    color: rgb(var(--md-color-on-surface-variant));
}
.nav-btn:hover {
    background: var(--surface-hovered);
    cursor: pointer;
}
.nav-btn:active {
    background: var(--surface-pressed);
}
.nav-btn.selected {
    color: rgb(var(--md-color-on-secondary-container));
    background: var(--sb-button-selected);
}
.nav-btn.selected .icon {
    --icon-FILL: 1;
}
.nav-btn::after {
    content: attr(aria-label, "ERROR");
    position: absolute;
    z-index: 2;
}


.nav-btn-label {
    display: none;
    text-align: center;
    width: 100%;
}

.head-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 28px;
    color: rgb(var(--md-color-on-surface-variant));
    background-color: rgb(255, 255, 255, 0.1);

    cursor: pointer;
}
.head-btn:hover {
    background-color: rgb(255, 255, 255, 0.125);
}
.head-btn:active {
    background-color: rgb(255, 255, 255, 0.2);
}

.head-btn {
    display: none;
}

/*
    IDE panel
*/

.editor-code {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10em;
    min-height: 10em;
    border-radius: 8px;
    background: var(--editor-body);
    border: 1px solid rgb(var(--md-color-outline-variant));
    box-sizing: border-box;
    overflow: hidden;

    box-shadow: 0 0 0 0 var(--editor-outline-selected);
    transition: box-shadow .1s ease-out;
}
.editor-code:has(#editor-area:focus) {
    box-shadow: 0 0 0 2px var(--editor-outline-selected);
}

/*
    editor screen
*/

.editor-body-row {
    display: flex;
    flex: auto;
    min-height: 0;
}

.editor-gutter-wrap {
    flex: 0 0 auto;
    min-width: 3em;
    overflow: hidden;
    border-inline-end: 1px solid var(--editor-outline);
}

.editor-gutter {
    -webkit-user-select: none;
    user-select: none;
    padding: 4px;
    padding-inline-end: 0;
}

.gutter-line {
    min-height: var(--editor-line-height);
    line-height: var(--editor-line-height);
    font-family: var(--font-family-code);
    font-size: var(--font-size-code);
    text-align: end;
    padding: 0 8px;
    border-start-start-radius: 4px;
    border-end-start-radius: 4px;
    color: rgb(var(--md-color-outline));
    transition: color .1s;
}
.gutter-line.active {
    color: var(--editor-gutter-fg-active);
    background: var(--editor-current-line);
}

.editor-text {
    flex: 1 1 auto;
    position: relative;
    min-width: 0;
    width: stretch;
}

#editor-area {
    position: relative;
    box-sizing: border-box;
    display: block;
    min-width: 100%;
    min-height: 100%;
    padding: 4px 0;
    outline: none;
    font-family: var(--font-family-code);
    font-size: var(--font-size-code);
    line-height: var(--editor-line-height);
    word-wrap: break-word;
    white-space: break-spaces;
    overflow-wrap: anywhere;
}

.editor-line {
    padding-inline-start: 8px;
    caret-color: rgb(var(--md-color-primary));
}
.editor-line.current {
    --normal: rgb(var(--md-color-on-secondary-container));
    color: var(--normal);
    background: var(--editor-current-line);
}

/*
    run button
*/

#run {
    box-sizing: border-box;
    background: #1c1c1f;
    border: 1px solid #3a3a3d;
    color: white;
    width: stretch;
    height: 32px;
    font-family: var(--font-family-code);
    font-size: var(--font-size-code);
    border-radius: 8px;
    transition: .2s ease;
}
#run:hover {
    background: #222225;
    border: 1px solid #4b4b50;
}
#run:active {
    background: #1a1a1d;
    border: 1px solid #353538;
    transition: 0s ease;
}
.run-controls {
    display: flex;
    align-items: center;
    position: relative;
    gap: 8px;
    height: 24px;
}

/*
    syntax highlighting
*/

.editor-line > span {
    border-radius: 1px;
}

.macro-brackets {
    color: var(--macro-brackets);
}
.macro-arg-separator {
    color: var(--macro-arg-separator);
}
.macro-name {
    color: var(--macro-name);
}
.macro-value {
    color: var(--macro-value);
}
.escape {
    color: var(--escape);
}
.macro-value-escape {
    color: var(--macro-value-escape);
}
.macro-empty {
    font-style: italic;
    color: var(--macro-empty) !important;
}
.macro-bracket-match.macro-bracket-match {
    color: rgb(var(--md-color-on-tertiary-container)) !important;
    background: rgb(var(--md-color-tertiary-container), .32);
    outline: 1px solid rgb(var(--md-color-on-tertiary-container), .32);
}

.macro-custom-argument,
.macro-custom-executor-mode,
.macro-custom-argument-count {
    font-weight: bold;
}
.macro-custom-argument {
    color: var(--macro-custom-argument);
}
.macro-custom-executor-mode {
    color: var(--macro-custom-executor-mode);
}
.macro-custom-argument-count {
    color: var(--macro-custom-argument-count);
}


/* bracket layers (only brackets) */

.bracket-level-0 {
    color: var(--macro-bracket-layer-0);
}
.bracket-level-1 {
    color: var(--macro-bracket-layer-1);
}
.bracket-level-2 {
    color: var(--macro-bracket-layer-2);
}
.flag-name {
    color: var(--flag-name)
}
.flag-value {
    color: var(--flag-value)
}
.variant-name {
    color: var(--variant-name)
}
.variant-value {
    color: var(--variant-value)
}

/*
    render screen
*/

.render-screen {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: relative;

    width: stretch;
    height: calc(100vh - 330px);
    padding: 8px 12px;

    background: var(--editor-body);
    border: 1px solid var(--editor-outline);
    border-radius: 8px;
}

#render-output {
    display: flex;
    position: sticky;
    font-family: var(--font-family-code);
    font-size: var(--font-size-code);
    word-wrap: break-word;
    white-space: break-spaces;
    overflow-wrap: anywhere;

    margin: auto 0;
}
#render-output.error,
.status-value.error {
    color: var(--error);
}
#render-output.complete {
    color: var(--success);
}

/*
    status bar
*/

.status-bar {
    display: flex;
    align-items: center;
    position: absolute;
    inset-inline-end: 0;
    height: 24px;
    font-size: .9em;
    line-height: 1em;
    border-radius: 4px;
    border: 1px solid var(--editor-outline);
    overflow: hidden;
}
.status {
    display: flex;
    align-items: center;
    gap: 4px;
    height: -webkit-fill-available;
    height: -moz-available;
    height: stretch;
    padding: 0 8px;
    margin-right: 0px;
    background: rgb(var(--md-color-surface-container));
}
.status:not(:last-child) {
    border-inline-end: 1px solid var(--editor-outline);
}
.status-label.emph {
    color: rgb(var(--md-color-tertiary));
}
.status-separator {
    color: rgb(var(--md-color-outline));
}
.status-btn {
    padding: 0 1px;
}
.status-btn:hover {
    background: var(--surface-hovered);
}
.status-btn:active {
    background: var(--surface-pressed);
}
.status-btn > .icon {
    font-size: 20px;
    --icon-FILL: 1;
}

/*
    palette color picker thing
*/

.palette-color-picker-container {
    width: stretch;
}
.color-grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.color-btn {
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    box-shadow: var(--elevation-0);
    border: 2px solid #ffffff00;
    outline: 2px dashed #ffffff00;

    border-radius: 0px;

    transition: 0.2s ease;
}
.color-btn:not(.selected):hover {
    border: 2px solid #ffffff80;
}
.color-btn.selected {
    position: relative;

    border-radius: 4px;
    opacity: 1;
    border: 2px solid black;
    outline: 2px dashed white;
    box-shadow: var(--elevation-2);
    z-index: 1;
}

/*
    search elements
*/

.filter-controls {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 300px;
    min-width: 300px;
    padding: 12px;
    border-start-end-radius: 16px;
    border-end-end-radius: 16px;
    background: rgb(var(--md-color-surface-container-low));
}

.filter-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
}

.filter-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
    padding: 12px;
    border-radius: 8px;
    background: rgb(var(--md-color-surface-container-lowest));
}

.filter-item-title {
    gap: 8px;
    display: flex;
    width: stretch;
    justify-content: space-between;
    align-items: center;
}

.filter-item input[type="text"] {
    width: stretch;
}
.filter-item .menu-wrapper:has(.text-field) {
    width: stretch;
}

.filter-title {
    text-wrap-mode: nowrap;
    font-size: .875em;
    line-height: 1.5em;
}

.search {
    display: grid;
    grid-template-areas: 'stack';
}

.search > * {
    grid-area: stack;
}

.searchbar {
    box-sizing: border-box;
    position: relative;

    width: stretch;
    padding: 12px 52px;
    border-radius: 28px;

    font-size: 16px;
    line-height: 24px;

    background: rgb(var(--md-color-surface-container-high));
    outline: none;
    overflow-wrap: anywhere;

    box-shadow: 0 0 0 0 var(--editor-outline-selected);
    transition: box-shadow .1s ease-out;
}
.searchbar:focus {
    box-shadow: 0 0 0 2px var(--editor-outline-selected);
}

.search > .btn {
    margin: 8px;
}
.search-btn {
    z-index: 0;
    justify-self: end;
}
.search-menu-btn {
    z-index: 1;
}
.search-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
}

/*
    recieve screen (search)
*/

.search-results {
    box-sizing: border-box;
    width: -webkit-fill-available;
    width: -moz-available;
    border-radius: 8px;

    width: stretch;
    height: calc(100vh - 153px);
    padding: 8px 12px;
    display: grid;
    position: relative;

    gap: 16px;
    align-content: start;
    justify-items: center;
}

.search-results.tiles {
    grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
}
.search-results.macros {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.search-results.filters {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.search-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: stretch;
    height: fit-content;
    padding: 12px;
    border-radius: 8px;
}
.search-item:hover {
    background: var(--surface-hovered);
}
.search-item:active {
    background: var(--surface-pressed);
}

.search-item-name {
    font-size: 14px;
    line-height: 20px;
    word-wrap: anywhere;
}

.search-item-tile {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
    object-fit: contain;
    filter: var(--f-elevation-5);
}
.search-results.filters .search-item-tile {
    width: 100px;
    height: 100px;
}
.search-item-tile.pending {
    border-radius: 4px;
    animation: sit-pending 1s ease-in-out infinite;
}
.search-item .search-item-tile.pending {
    height: 64px;
}
.search-item-tile-broken {
    display: grid;
    grid-template-areas: "stack";
    place-items: center;
    filter: none;
}
.search-results.filters :is(.search-item-tile.pending, .search-item-tile-broken) {
    width: 100px;
    height: 100px;
}
.search-item-tile-broken > * {
    grid-area: stack;
    width: inherit;
    height: inherit;
    mask-size: contain;
    mask-repeat: no-repeat;
    opacity: .38;
}
.search-item-tile-broken > :first-child {
    mask-image: url("@/public/error0.png");
    background: rgb(var(--md-color-outline-variant));
}
.search-item-tile-broken > :nth-child(2) {
    mask-image: url("@/public/error1.png");
    background: rgb(var(--md-color-outline));
}
.search-item-tile-broken::after {
    content: "not found";
    grid-area: stack;
    position: absolute;
    color: var(--error);
    font-family: var(--font-family-code);
    font-size: 14px;
    font-weight: bold;
}
.search-results.filters .search-item-tile-broken::after {
    font-size: 20px;
    font-weight: normal;
}

@keyframes sit-pending {
    0%,
    100% {
        background-color: var(--surface-pressed);
    }

    50% {
        background-color: var(--surface-hovered);
    }
}

.search-item-macro {
    max-height: 6em;
    font-family: var(--font-family-code);
    font-size: 1em;
    text-align: center;
    word-wrap: anywhere;
}

/*
    search details
*/

.search-details-panel {
    display: block;

    position: relative;
    padding: 12px;
    width: 420px !important;
    min-width: 420px !important;
    z-index: 85;
}

.drag-handle-hitbox {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 50px;
}

.drag-handle {
    width: 100px;
    height: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;

    background: var(--body);
}

.search-details-name {
    font-size: 22px;
    line-height: 28px;
    word-wrap: break-word;
    margin-inline-end: 56px;
}

.search-details-macro {
    text-align: center;
    font-family: var(--font-family-code);
    margin: 2rem auto;
    word-wrap: break-word;
    min-height: 3em;
}
.search-details-macro-name {
    font-size: 2em;
    max-height: 6em;
}
.search-details-macro-name-builtin-indicator {
    color: rgb(var(--md-color-outline));
}

.search-details-macro-name.builtin .macro-name,
.search-item-macro.builtin .macro-name {
    font-weight: bold;
}

.search-details-image {
    width: 192px;
    height: 192px;
    margin: auto;
    image-rendering: pixelated;
    filter: var(--f-elevation-5);
}

.search-details-image-e {
    width: 100%;
    min-width: unset;
    max-width: 100%;
    height: 100%;
    margin: auto;
    image-rendering: pixelated;
    object-fit: contain;
    filter: var(--f-elevation-5);

    pointer-events: none;
}
.search-details-image-e[alt="bab_therealbabdictator"] {
    height: auto;
}

/* frame index label */

.search-details-image-asize::after {
    content: attr(data-frame);

    color: var(--normal);
    font-family: var(--font-family-code);
    font-size: 3em;

    opacity: 0.5;

    position: absolute;
    top: 0;
    left: 1rem;
}

.tiling-index-label {
    position: relative;
}
.tiling-index-label::after {
    content: attr(data-frame-tiled);

    color: var(--normal);
    font-family: var(--font-family-code);
    font-size: 1.2em;

    opacity: 0.8;
    text-shadow: var(--t-elevation-5);

    position: absolute;
    top: -2px;
    right: 0;

    transform: translate(0px, 0px);
    transition: opacity 0.2s ease, transform 0.2s ease;

    pointer-events: none;
    z-index: 10000;
}

.search-details-image-tiled {
    filter: var(--f-elevation-2);
}

.search-details-image-tiled:hover
.tiling-index-label:not(:hover)::after {
    opacity: 0;
}
.tiling-index-label:hover::after {
    transform: translate(10px, -10px);
    opacity: 1;
}
.search-details-image-tiled img {
    transition: filter 0.2s ease;
}
.search-details-image-tiled:hover img:not(:hover) {
    filter: brightness(0.5);
}
.search-details-image-tiled:hover img {
    filter: brightness(1);
}

/* end frame index label*/

.search-details-image-asize {
    max-width: calc(8 * 24px);
    max-height: calc(8 * 24px);
    margin: 2em auto;
}

.search-details-image-asize-tiled {
    display: flex;
    align-items: center;
    padding: 2em;
    height: stretch;
    width: max-content;
    margin: 0 auto;
}

.search-details-image-row {
    display: flex;
}

.search-details-image-row img,
.search-details-image-row span {
    width: 48px;
    height: 48px;
    image-rendering: pixelated;
}

.search-details-image-wrapper {
    position: relative;

    width: 100%;
    height: 258px;
    margin: 12px auto;
    border-radius: 16px;
    border: 1px solid var(--editor-outline);
}

.search-details-contents-flexbox {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.search-details-detailbox {
    flex-direction: column;

    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;

    padding: 6px 12px;
    word-wrap: anywhere;

    border-radius: 8px;
    background: rgb(var(--md-color-surface));
    outline: 1px solid var(--editor-outline);
}
.search-details-detailbox p {
    white-space: pre-wrap;
}
.search-details-detailbox p:not(:first-child) {
    margin-top: 1.2em;
}
.search-details-detailbox.macro {
    font-family: var(--font-family-code);
    font-size: var(--font-size-code);
}

.search-details-label {
    margin: 0;
}

table {
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
    margin-top: 12px;
    border-radius: 8px;
    background: rgb(var(--md-color-surface-container-low));
    outline: 1px solid var(--editor-outline);
    overflow: hidden;
}

.table-description {
    width: 120px;
}

th, td {
    padding: 6px 12px;
    word-wrap: anywhere;
}

th:not(:first-child) {
    border-left: 1px solid rgb(var(--md-color-outline));
}
td:not(:first-child),
.tab-btn:not(:first-child) {
    border-left: 1px solid var(--editor-outline);
}

th {
    background: rgb(var(--md-color-surface-container-highest));
}

tr:nth-child(odd) td {
    background: rgb(var(--md-color-on-surface), 0.08);
}

/*
    tabs
*/

.tabs-bar {
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;

    display: flex;

    margin: 12px 0;
    border-radius: 8px;
    background: rgb(var(--md-color-surface-container-low));
    outline: 1px solid var(--editor-outline);
    overflow: hidden;
}

.tab-btn {
    padding: 6px 12px;
    width: 100%;
    text-align: center;
}
.tab-btn:not(.selected):hover {
    background: var(--surface-hovered);
}
.tab-btn:not(.selected):active {
    background: var(--surface-pressed);
}
.tab-btn.selected {
    background: rgb(var(--md-color-secondary-container));
}

/*
*
*       FLEXIBILITY
*
*/

@media only screen and (max-width: 700px) {
    /* .align-layout {
        grid-template-areas: 'main details'
                             'nav nav';
        grid-auto-columns: 1fr auto;
        grid-auto-rows: 1fr auto;
    } */
    
    .head-btn {
        display: flex;
    }

    .sb-left {
        position: absolute;
        transform: translateX(-200px);
        z-index: 100;
    }

    .sb-left-fxb {
        box-shadow: var(--elevation-5);
        transition: 0.2s ease;
    }

    .sb-left-fxb.opened {
        transform: translateX(0px);
    }

    .nav-btn {
        width: 180px;
        justify-content: flex-start;
        padding: 0 12px;
    }

    .has-tooltip::after {
        display: none;
    }

    .nav-btn-label {
        display: inline;
    }
}

@media only screen and (min-width: 1200px) {
    .nav-btn {
        width: 160px;
        justify-content: flex-start;
        padding: 0 12px;
    }

    .has-tooltip::after {
        display: none;
    }

    .nav-btn-label {
        display: inline;
    }
}

.screen-blur {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #00000000;
    pointer-events: none;

    backdrop-filter: blur(0px);
    transition: background 0.2s ease, backdrop-filter 0.2s ease;
    z-index: 90;
}

.screen-blur.true {
    backdrop-filter: blur(5px);
    background: #00000080;
    pointer-events: auto;
}

@media only screen and (max-width: 790px) {
    .search-details-panel {
        width: calc(100vw - 56px) !important;
        min-width: 0 !important;
        position: absolute;
        right: 0;

        --sheet-offset: 100vh;

        transform: translateY(var(--sheet-offset));

        transition: transform 0.2s ease;
        touch-action: none;
    }

    .search-details-panel.sb-right-fxb {
        border-radius: 20px 20px 0 0;
        --sheet-offset: 80vh;
        box-shadow: var(--elevation-3);
        transition: border-radius 0.2s ease;
    }

    .search-details-panel.sb-right-fxb.to-top {
        border-radius: 0;
    }

    @media only screen and (max-width: 700px) {
        .search-details-panel {
            width: 100vw !important;
            right: 0;
        }
    }
}